
body {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    background-color: #efefef;
    border: solid black 1px;
  }
  .container {
    
      height: 750px;
      width: 700px;
      border: solid black 1px;
        .gameboard {
            margin: 50px;
            border: solid red 1px
        }
        .greenLight {
            border: solid black 1px;
            height: 100px;
            width: 100px;
            background-color: green;
        }
        .redLight {
            border: solid black 1px;
            height: 100px;
            width: 100px;
            background-color: red;
        }
        .yellowLight {
            border: solid black 1px;
            height: 100px;
            width: 100px;
            background-color: yellow;
        }
        .blueLight {
            border: solid black 1px;
            height: 100px;
            width: 100px;
            background-color: blue;
        }
}