div.container
    div.gameboard
        div.greenLight(id= "green").light     
        div.redLight(id= "red").light            
        div.yellowLight(id= "yellow").light
        div.blueLight(id= "blue").light
    div.buttonContainer
        button.startGame#startButton Start Game
        button.restart#restartButton Restart
div.buttons